/* Reset rules ____________________________________ */

* {
    margin: 0;
    border: 0;
    font-family: "Jost", Helvetica, sans-serif;
}

ul, ol, menu {
    padding: 0;
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}



/* Layout _________________________________________ */

.container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.btn {
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    width: fit-content;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: rgb(244, 244, 244);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


/* Header _________________________________________ */

.header-block {
    height: 100px;
    background-color: white;
    padding: 10px;
}

.header-logo {
    width: 350px;
}


/* Intro */

.intro-card {
    background-color: #FB1B1B;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.intro-img {
    width: 80px;
    border-radius: 99999px;
    background-color: #f99898;
    padding: 20px;
}

.intro-text {
    width: 450px;
    background-color: white;
    border-radius: 18px;
    padding: 20px 25px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.intro-text p {
    height: fit-content;
}


/* Filters ________________________________________ */

.filters-block {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.filter-container {
    position: relative;
    display: flex;
}

.filter-content {
    display: flex;
    flex-wrap: wrap;
}

#types-box {
    display: none;
    left: -85px;
}

#generations-box {
    display: none;
    left: -64px;
}

#types-box.show, #generations-box.show {
    display: block;
}

.btn-filters {
    background-color: #0075BE;
    position: relative;
    display: inline-block;
}

.filter-box {
    top: 65px;
    position: absolute;
    background-color: #0075BE;
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    width: 200px;
    display: none;
}

.filter-box.active {
    display: block;
}

#toggle-types-btn:hover {
    background-color: #219ae6;
}

#toggle-generations-btn:hover {
    background-color: #219ae6;
}

#pokemon-count {
    padding: 6px 12px;
    border-radius: 999px;
}

#pokemon-types,
#pokemon-generations {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}

/* Checkbox personalization */

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
}

.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: solid 1px #0075BE;
    border-radius: 6px;
}

.container-checkbox input:checked~.checkmark {
    background-color: #0075BE;
    border: solid 2px white;
}

.container-checkbox:has(input.checkbox:checked) {
    background-color: white;
    color: #0075BE;
    padding: 0px 8px 1px 29px;
    border-radius: 6px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox input:checked~.checkmark:after {
    display: block;
}

.container-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Pokemon generator ______________________________ */

.btn-generate {
    background-color: #FB1B1B;
}
  
.btn-generate:hover {
    background-color: #ff4848;
}

#pokemon-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.poke-container {
    padding: 0 150px;
}

.pokemon-card {
    display: flex;
    width: calc(100% / 3 - 46px);
    height: 250;
    padding: 15px;
    margin: 8px;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-image-container {
    position: relative;
}

.pokemon-img {
    display: block;
    width: 150px;
}

.poke-list {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.poke-name {
    font-size: 25px;
}

.poke-list, p h3 {
    text-align: left;
}

.shiny-btn {
    background-color: purple;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    gap: 5px;
}
  
.shiny-btn:hover {
    background-color: rgb(161, 21, 161);
}

.shiny-logo {
    width: 18px;
}


/* Shiny star effect ____________________________ */

.shiny-stars {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    pointer-events: none;
}

.shiny-star {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    opacity: 0;
    animation: shiny-animation 1s forwards;
}

/* Animation */
@keyframes shiny-animation {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(calc(var(--x) * 50px), calc(var(--y) * 50px));
    }
}


/* Footer _________________________________________ */

footer {
    background-color: #074165;
    padding: 30px;
}

.footer-container {
    color: white;
    display: flex;
    align-items: center;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

.foot-left {
    text-align: end;
    border-right: solid white 1px;
}

.foot-left h1 {
    font-size: 20px;
}

.foot-left p {
    font-size: 12px;
}

.foot-left a {
    text-decoration: underline;
}

.linkedin-btn {
    border: solid white 1px;
    border-radius: 10px;
    padding: 2px 8px;
}

.foot-signature {
    margin-bottom: 8px;
}